.card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.card.red-bg {
  background-color: red;
}

.overlay {
  position: absolute;
  width: 100vh;
  height: 100vh;
  background: #ce979744;
  top: 0;
  left: 0;
}

.modal-container {
  position: relative;
  top: 200px;
  width: 400px;
  height: 200px;
  background: white;
  left: calc(50vh - 200px);
  border-radius: 10px;
  text-align: center;
}

.modal-title {
  text-align: center;
}